.DS_Store

.gradle
!gradle-wrapper.jar
.gradletasknamecache

**/.mps/workspace.xml
**/.mps/shelf

**/.idea/workspace.xml
**/.idea/shelf

**/classes_gen/*
**/source_gen/*
**/source_gen.caches/*

build/*

lib/*