.DS_Store

.gradle
!gradle-wrapper.jar
.gradletasknamecache

**/.mps/workspace.xml
**/.mps/shelf

.idea/workspace.xml
.idea/shelf
.idea/**/gradle.xml

classes_gen
source_gen
source_gen.caches
.mps-caches

**/startup.properties

build
out

lib

build.xml

*.log
*.log.*