.DS_Store

.gradle
!gradle-wrapper.jar
.gradletasknamecache

**/.mps/workspace.xml
**/.mps/shelf

.idea/workspace.xml
.idea/shelf
.idea/**/gradle.xml

classes_gen
source_gen
source_gen.caches

solutions/iec61499.ide/startup.properties

build
out

lib